:root{
  --headerBackground:#fff;
  --textColor:#282c3f;
  --navHoverColor:#fc8019;
  --boxShadowHeader :  0 15px 40px -20px rgb(40 44 63 / 15%);
  --greenRating: #48c479;
  --cementText:#686b78;
  --navFontSize:16px;
  --fontWeightNav:500;
  --quickView:#8a584b;
  --bannerBackground:#171a29;
  --fontFamily:Arial,Helvetica Neue,sans-serif;
  --veg:#008000;
  --nonVeg:#ad4728;
  --addToCart:#60b246;
  --offerBanner:#005062;

}

body{
  background-color: #fff;
}

#right, #left{background-color: #f6f6f6;color:#282c3f ;font-weight: 500;padding:15px;border-radius: 50%;line-height: 25px;position:ablsolute;top:40%;object-fit: contain;}
.banners{width: 80%; margin:0 145px;position: relative;}#left{position: absolute; z-index:1000;}
#right{position: absolute;float:right;right:0;z-index:10000;}.banner{background-color: #171a29;padding:30px 0px;}
section{background-color: #171a29; margin: 0 10px; display: flex; align-items: center; overflow-x: auto;}
section::-webkit-scrollbar{display: none;}section .product{margin:10px; position: relative; left: 0; transition: 0.5s; }picture img{height:260px;	object-fit: contain;}
.tab {overflow: hidden;margin:30px 145px 20px 145px;display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding-bottom:2px;border-bottom: 0.5px solid #e9e9eb;}
.filter_icon{color:#fc8019;padding:5px;border:2px solid #fc8019;border-radius: 50%;font-weight: 600;margin-left:10px;}
.tab_right{display: flex;width:50%;justify-content: space-between;align-items: center;}
.tablinks {font-size: 14px;padding-bottom:10px;color:#686b78;border-bottom:3px solid white;}
.tablinks:hover{cursor: pointer; }
.resturent_num{color:#282c3f;font-size: 28px;font-weight: 600;}
.tab div.active {border-bottom:3px solid black;}
.tabcontent {margin:10px 115px;display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-column-gap: 15px ;grid-row-gap: 15px ;}
@media (max-width: 768px) {.banners{width: 100%;margin:0;position: relative;}section .product {margin:20px;}picture img{height:160px;margin:0px;object-fit: contain;}}

.reloader{
    padding:3px;
    object-fit: contain;
    border:5px solid #fc8019;
    border-right:none;
    width:100px ;
    width:100px;
    border-radius: 50%;
    position:absolute;
    top:50%;
    left:45%;
    animation: mymove 2s  infinite;
   
}

@keyframes mymove {
    100% {transform: rotate(360deg);}
  }
.reloader_image{
    width:100px ;
    width:100px;
    border-radius: 50%;
}

.tabBackground{
  background-color: #fff;
}

.see_restaurent{
  cursor: pointer;
}

@media (max-width:746px){
  .tabcontent{
      width: 100%;
      margin:0px;
      grid-template-columns: 1fr 1fr;
      grid-column-gap:5px;

  }
  .banner{
    display:none;
  }
  .tab{
    flex-direction: column;
    margin:0px;
    width:100%;
  }
  .tab_right{width:90%;margin-top:15px;}
  .tabBackground{
    width:100%;
  }
}